:root {
    --cor-fundo: rgb(241, 229, 215);
    --cor-texto: rgb(36, 35, 35);
    --cor-principal: rgb(20, 43, 87);
    --cor-secundaria: rgb(37, 69, 138);
    --cor-hover: rgb(22, 64, 153);
    --cor-superficie: rgb(226, 223, 215);
    --cor-card: #6083c4da;
    --cor-legenda: #423e3e;
    --cor-clara: white;
    --cor-rodape: #2e2c2c;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: var(--cor-principal);
    color: var(--cor-clara);
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 36px;
}

h2 {
    color: var(--cor-principal)
}

p {
    font-size: 18px;
    line-height: 1.6;
}

nav a {
    color: var(--cor-clara);
    text-decoration: none;
    background-color: var(--cor-secundaria);
    padding: 10px 15px;
    border-radius: 8px;
    margin: 5px;
    display: inline-block;
}

nav a:hover {
    background-color: var(--cor-hover);
}

main {
    width: 80%;
    margin: auto;
}

section {
    background-color: var(--cor-superficie);
    margin: 20px 0;
    padding: 20px;
    border-radius: 12px;
}

img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    border-radius: 12px;
}

figcaption {
    text-align: center;
    font-size: 14px;
    color: var(--cor-legenda);
    margin-top: 8px;
}

.card {
    background-color: var(--cor-card);
    padding: 15px;
    margin: 15px 0;
    border-left: 6px solid var(--cor-principal);
    border-radius: 10px;
}

.card h3 {
    margin-top: 0;
}

footer {
    background-color: var(--cor-rodape);
    color: var(--cor-clara);
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

button {

    background-color: var(--cor-principal);
    color: var(--cor-clara);
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: var(--cor-hover);
}

.curtir {
    display: block;
    width: fit-content;
    margin: 20px auto;
}