body {
    background-color: #f4f1ea;
    color: #222222;
    font-family: Arial, sans-serif;
}

header {
    background-color: #6b2d56;
    color: white;
    text-align: center;
    padding: 30px;
}

h1 {
font-size: 36px;
}

h2 {
    color: #6b2d5c;
}

p {
    font-size: 18px;
    line-height: 1.6;
}
